PORT=5001
CLIENT_URL=http://localhost:3000
SHOP_NAME=Ecommerce

MONGODB_URI=mongodb://127.0.0.1:27017/ecommerce

CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_BOT_USERNAME=

WHATSAPP_NUMBER=213676903083

ADMIN_KEY=
